section {
  display: flex;
  flex-direction: column;
  gap: 12px; 

  & .morning, .evening, .night {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--background-tertiary);
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid var(--border-divisor);
    height: 48px;

    & i {
      margin: 14px 12px 14px 20px;
    }

    & h2 {
      color: var(--content-primary);
      font: var(--label-large);
      margin-right: 544px;
      margin-top: 12px;
      margin-bottom: 12px;
    }

    & span {
      color: var(--content-secondary);
      font: var(--label-large);
      margin: 14px 20px 14px 12px;
    }
  }

  ul {
    background: var(--background-tertiary);
    border-radius: 0 0 20px 20px;

    & li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      border-bottom: none;
      
      &:last-child {
        border-bottom: none;
      }

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: 0;
        height: 0.5px;
        background: var(--border-divisor);
        border-radius: 2px;
        z-index: 0;
      }

      & span {
        color: var(--content-primary);
        font: var(--label-small);
        margin: 14px 12px 14px 20px;
        position: relative;
      }
    }
  }
}
